.sub-nav {
    overflow: hidden;
    background-color: $primary-5;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-family:'DM Serif Display', serif;
    font-size: 30px;
  }
  
  .sub-nav a {
    display: inline-block;
    margin-left: 150px;
    margin-right: 150px;
    color: $primary-3;
    padding: 12px 14px;
    text-decoration: none;
  }
  
  a.sub-about:hover,a.sub-about:active {
    color: $primary-1;
  }

  a.sub-skills:hover,a.sub-skills:active {
    color: $primary-2;
  }

  a.sub-contact:hover,a.sub-contact:active {
    color: $primary-4;
  }
