@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@1&family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f0e4;
}

header {
  width: 100%;
  background-color: #f2f0e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

header .logo {
  font-size: 28px;
  font-family: "DM Serif Display", serif;
  text-transform: uppercase;
  color: #0D0D0D;
  text-decoration: none;
}

header .menu-btn img {
  width: 45px;
}

nav {
  width: 100%;
  height: 100vh;
  background-color: #0D0D0D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
}

nav a {
  color: #f2f0e4;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-family: "DM Serif Display", serif;
  position: relative;
}

nav a:hover::after {
  content: "";
  height: 2px;
  width: 50%;
  background-color: #f2f0e4;
  position: absolute;
  bottom: 0;
  left: 0;
}

.button1 {
  display: inline-block;
  background-color: #118c8c;
  border: none;
  color: #f2f0e4;
  margin: 4px 2px;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
}

.button1:hover {
  background-color: #f23827;
  color: #f2f0e4;
}

.big-words {
  font-family: "DM Serif Display", serif;
  color: #0D0D0D;
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.BW1 {
  color: #0D0D0D;
  font-size: 80px;
}

.BW2 {
  color: #118c8c;
  font-size: 100px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #0D0D0D;
  display: flex;
  flex-direction: column;
  padding: 70px;
  align-items: center;
}

footer .footer-name {
  color: #f2f0e4;
  font-family: "DM Serif Display", serif;
  font-size: 20px;
}

footer .footer-email {
  color: #f2f0e4;
  font-family: "DM Serif Display", serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

/* Responsive image gallery rules begin*/
.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects > li {
  flex: 1 1 auto; /* or flex: auto; */
  height: 300px;
  cursor: pointer;
  position: relative;
}

.projects::after {
  content: "";
  flex-grow: 999;
}

.projects li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  color: #f2f0e4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  padding: 25px;
}

.p-name {
  font-family: "DM Serif Display", serif;
  font-size: 35px;
  padding-bottom: 10px;
}

.medium {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.projects li:hover .overlay {
  transform: scale(1);
}

.about-me {
  padding: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 582px;
  height: auto;
}

.about-name {
  font-family: "DM Serif Display", serif;
  color: #118c8c;
  font-size: 35pt;
}

.sub-c {
  font-family: "DM Serif Text", serif;
  font-style: italic;
  font-size: 20pt;
  color: #118c8c;
}

.bio {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  color: #0D0D0D;
  text-align: justify;
}

.skills {
  padding: 200px;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.skill-name {
  font-family: "DM Serif Display", serif;
  color: #f23827;
  font-size: 35pt;
}

.s-list {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
}

.contact-sect {
  padding: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-name {
  font-family: "DM Serif Display", serif;
  color: #94569D;
  font-size: 35pt;
  text-align: center;
}

.contact-info {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  color: #0D0D0D;
  text-align: center;
}

.sub-nav {
  overflow: hidden;
  background-color: #0D0D0D;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 30px;
}

.sub-nav a {
  display: inline-block;
  margin-left: 150px;
  margin-right: 150px;
  color: #f2f0e4;
  padding: 12px 14px;
  text-decoration: none;
}

a.sub-about:hover, a.sub-about:active {
  color: #118c8c;
}

a.sub-skills:hover, a.sub-skills:active {
  color: #f23827;
}

a.sub-contact:hover, a.sub-contact:active {
  color: #94569D;
}/*# sourceMappingURL=styles.css.map */